<div class="poke-Container">
  <div class= "poke-Detail" >
      <div class= "poke-Image">
        <img src="{{pokemonFrontImage}}" width="100%" >
        <img src="{{pokemonBackImage}}" width="100%" >
      </div>
      <div class= "poke-Data">
        <h1><!--Space for the name of pokemon--> </h1>
        <h1><u>{{pokemonNom.toUpperCase()}}</u></h1>
        <table >
          <tbody>
            <tr>
              <td><h2>Weight: </h2></td>
              <td><h2>{{pokemonWeight}}</h2></td>
            </tr>
            <tr>
              <td><h2>Height: </h2></td>
              <td><h2>{{pokemonHeight}}</h2></td>
            </tr>
            <tr>
              <td><h2>Type: </h2></td>
              <td><h2>{{pokemonType1}} <br> {{pokemonType2}}</h2></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
